body {
  background-color: #0022fc;
  color: #fffc61;
  font-family: "Comic Sans MS";
  margin: 0;
}
.carousel {
  width:640px;
  height:360px;
  margin: 0 auto;
}

h1, h2, h3 {
text-align: center;
color: #fffc61;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

/*<!--========================================-->
<!--                  Form                    -->
<!--==========================================-->*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #0022fc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #0022fc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8292ff;
}

.container {
  border-radius: 5px;
  background-color: #fffc61;
  padding: 20px;
}

/*<!--========================================-->
<!--                  Icons                   -->
<!--==========================================-->*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
	background: #125688;
	  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
